<div class="mdl-grid">
<%- include('cards/balances.ejs') %>
<%- include('cards/card1.ejs') %>
<%- include('cards/card2.ejs') %>
<%- include('cards/card3.ejs') %>
<%- include('cards/card4.ejs') %>
</div>
